# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.hydra/

# Data & Models (Managed by DVC)
# We ignore the actual files, but keep the .dvc pointers
data/raw/iris.csv
models/model.joblib

# DVC local state
.dvc/config.local
.dvc/tmp/
.dvc/cache/

# MLOps tracking
mlruns/
outputs/

# Environment
.env
venv/
.venv/
.gemini/
/dvc_host
